.child_div {
    background: #ccc;
    border: 2px solid #2a3c3c;
    padding: 10px;
    float: left;
    width: 110px;
    height: 50px;
    margin-right: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.child_div:last-child {
    margin-right: 0;
}
.parent > div {
    background: #eee;
    float: left;
    width: 100%;
    margin-right: 2%;
    padding: 10px;
    border: 2px solid #2a3c3c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    background: #C0C4CD;
    opacity: 1;
    padding: 40px;
    padding-top: 60px;
    float: left;
    width: 100%;
    height: 50vh;
    margin-right: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #C0C4CD;
    margin: 0px;
}

.header {
    padding: 10px; /* Поля вокруг текста */
    text-align: center;
    background: linear-gradient(to top, #C0C4CD, #2F4F4F);
    opacity: 1;
    width: 100%;
    height: 100px;
    font-family: 'Comic Sans MS'
   }

.word {  
    background: #f0f0f0;
    font-size: 18px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

select, option {
    width: 200px; /* Ширина списка в пикселах */
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid #C0C4CD;
}

td {
    text-align: center;
    vertical-align: top;
    width: 210px ;
    height: 200px;
}